doctype html
html
    head
        title fcc tribute page Nelson Mandela
    body
        h1 Nelson Mandela
        h2 South-Africa's first black head of state
        img(src="/asset/image/220px-Nelson_Mandela-2008_(edit).jpg", alt="Awesome Nelson Mandela")

